<div class="px-3 py-3 flex align-center justify-between" style="border: 1px solid gray; border-radius: 3px;">
  <div class="content">
    <div class="mat-h4 text-normal">{{userData.name}}</div>
    <div class="mat-body-2 mt-2">{{userData.details}}</div>
  </div>
  <div class="flex align-center" >
    <ui-button
      label="تعديل"
      class="me-2"
      color="accent"
      radius="rounded"
      variant="stroked"
      (click)="editUser(userData)"
    /> 
    <ui-button
      label="حذف"
      class="me-2"
      color="warn"
      radius="rounded"
      variant="stroked"
      (click)="deleteUser(userData.id)"
    />
  </div>
</div>