$dooh-smb-primary: (
    50 : #e5e4e4,
    100 : #bdbcbc,
    200 : #929191,
    300 : #676665,
    400 : #4a4947,
    500 : #353332, // Base color
    600 : #2f2d2c,
    700 : #282625,
    800 : #211f1e,
    900 : #151311,
    A100 : #918e8d,
    A200 : #686564,
    A400 : #3f3c3b,
    A700 : #282525,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dooh-smb-accent: (
    50 : #e6edf6,
    100 : #c0d3e8,
    200 : #96b6d8,
    300 : #6c98c8,
    400 : #4d82bd,
    500 : #2d6cb1,
    600 : #2864aa,
    700 : #2259a1,
    800 : #1c4f98,
    900 : #16375D,
    A100 : #bad1ff,
    A200 : #87afff,
    A400 : #548dff,
    A700 : #3b7cff,
    contrast: (
        50 : #17212c,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$dooh-smb-warn: (
    50 : #f7e8e7,
    100 : #eac6c3,
    200 : #dca09b,
    300 : #ce7a73,
    400 : #c45e55,
    500 : #b94137,
    600 : #b23b31,
    700 : #aa322a,
    800 : #a22a23,
    900 : #931c16,
    A50: #fce4e2,
    A100 : #f8bab6,
    A200 : #ff9995,
    A400 : #ff6862,
    A700 : #ff5048,
    contrast: (
        50 : #38211e,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
