ui-button + ui-button {
    margin-inline-start: 0.5rem;
}

ui-button {
    &.disabled {
        pointer-events: none;
    }
}

.ui-button.mdc-button {
    display: inline-flex;
    height: 40px;
    padding: 0 15px;
    min-width: unset;
    font-size: inherit;
    font-family: inherit;
    &.ui-button-size {
        &-x-small {
            padding: 0 5px;
            height: 24px;
        }
        &-small {
            padding: 0 5px;
            height: 30px;
        }
        &-large {
            padding: 0 15px;
            height: 50px;
        }
    }
    &.ui-button-radius {
        &-pill {
            border-radius: 40px;
        }
        &-rounded {
            border-radius: 6px;
            &.ui-button-icon-only {
                border-radius: 6px;
            }
        }
    }
    &.ui-button-icon-only {
        border-radius: 50%;
        padding: 0;
        min-width: inherit;
        width: 40px;
        .mdc-button__label {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.ui-button-size-x-small {
            width: 24px;
        }
        &.ui-button-size-small {
            width: 30px;
        }
        &.ui-button-size-large {
            width: 50px;
        }
    }
    &.ui-button-full-width {
        display: flex;
        width: 100%;
    }
    &.ui-button-enable-spacer {
        .ui-button-spacer {
            width: .5rem;
        }
    }
    .ui-button-label {
        font-weight: 500;
        .ui-button-label-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            .ng-star-inserted {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &.mat-mdc-button-base {
        border-color: inherit;
        &.mat-unthemed:not(:disabled) {
            color: var(--text-medium);
            border-color: var(--border-color);
        }
        &:disabled {
            color: var(--text-disabled);
            --mdc-filled-button-disabled-container-color: var(--background-strong);
        }
    }
    &:not(.ui-button-icon-only) {
        min-width: 72px;
    }
    &.mat-mdc-outlined-button {
        --mdc-outlined-button-outline-color: var(--border-color);
        background: var(--background-strong);
        &.ui-button-transparent {
            background: transparent;
        }
        &.mat-primary {
            background: var(--primary-light-color);
        }
        &.mat-accent {
            background: var(--accent-light-color);
        }
        &.mat-warn {
            background: var(--warn-light-color);
        }
    }
}
  