<div class="h-100">
  <header>
    <button class="button">
      السجلات
    </button>
    <div class="flex align-center">
      <div class="mat-h6 text-normal">
        شريف محمد عبد العزيز
      </div>
      <img
        src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=2493"
        alt="user-pic"
        width="40px"
        class="ms-3"
      />
    </div>
  </header>

  <div style="background-color: #2a2828;">
    <div class="tab-headers">
      <button 
        *ngFor="let tab of tabs; let i = index" 
        [class.active]="selectedTabIndex === i"
        (click)="selectTab(i)"
      >
        {{ tab.title }}
      </button>
    </div>
  </div>
  
  <main class="dashboard-container position-relative">
    <nav>
      <ul>
        <li><a href="#">ادارة المعلومات</a></li>
        <li><a href="#" class="active">مجموعة المستلمين للجهات الخارجية</a></li>
      </ul>
    </nav>
    <article>
      <router-outlet></router-outlet>
    </article>
  </main>
</div>  
