.example-spacer {
    flex: 1 1 auto;
}

.page-content{
    padding: 16px;
}

.button {
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    &.gray{
        background-color: #2a2828;
    } 
}

.dashboard-container {
    width: auto;
    height: calc(100vh - 112px);
    border: 1px solid #555;
    display: flex;
    &-sidebar {
        flex: 1;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: auto;
          }
          
          li a {
            display: block;
            color: #000;
            padding: 18px;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;
          }
          
          li a.active {
            background-color: #d4e6f6;
            color: #696e72;
            border-right: 3px solid #0088ff;
          }
          
          li a:hover:not(.active) {
            background-color: #555;
            transition: 0.1s;
            color: white;
          }
    }
    &-content {
        flex: 6;
        overflow-y:auto ;
    }
}


.tab-headers button {
  padding:15px 23px;
  color: #ffffff;
  background-color: unset;
  cursor: pointer;
  border: none;
}

.tab-headers button.active {
  color:#ffffff ;
  background-color: #5555557e;
  font-weight: bold;
  border-bottom: 3px solid #f9f9f9;
}

