.ui-row {
    display: flex;
    flex-wrap: wrap;
    &-align-x-start {
        justify-content: flex-start;
    }
    &-align-x-center {
        justify-content: center;
    }
    &-align-x-end {
        justify-content: flex-end;
    }
    &-align-y-start {
        align-items: flex-start;
    }
    &-align-y-center {
        align-items: center;
    }
    &-align-y-end {
        align-items: flex-end;
    }
    &:not(.ui-row-no-gutters) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        > .ui-col {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
}