.btn {
    background-color: unset;
    border: none; 
    padding: 12px 16px;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #0088ff;
    background-color: #d4e6f6;
  }

  .input{
    input {
        height: 32px;
        min-width: 300px;
        padding-inline: 10px;
        border: unset;
    }
  }